div.order-content.background
div(ng-controller="LoginController")
    a.auth-link(ng-href="#/login", ng-hide="identity.isAuthenticated()")
        | Login
    a.auth-link(ng-href="#/operator/orders", ng-show="identity.isAuthenticated()")
        | View Orders
.order-form-wrapper(skeelr.order-form, skeelr.show-animate)